# Ignore Visual Studio Code settings
.vscode/

# Ignore node_modules folder
node_modules/

# Ignore build and cache directories
/build/
/dist/
/tmp/
/log/

# Ignore environment variable files
.env

# Ignore any other temporary files
*.tmp
*.log

# Ignore additional files as needed
